{
    "openapi": "3.0.1",
    "info": {
        "title": "OpenAPI Plant Store",
        "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
        "license": {
            "name": "MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://site1.seendoing.com"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "paths": {
        "/api/v1/chat/stream": {
            "post": {
                "summary": "聊天流式",
                "deprecated": false,
                "description": "与系统进行实时聊天，获取流式数据分析结果。",
                "tags": [],
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "密钥",
                        "required": true,
                        "example": "sk-LelkzwwFuKJuGJijZnduQzCorcecOvoHX4MGP-GxpOYDXQmMRgRMjQzV0PMahsfzIkq7VyXzqLhrx4YF8Fyp5w",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "text": {
                                        "type": "string",
                                        "description": "聊天内容"
                                    },
                                    "session_id": {
                                        "type": "string",
                                        "description": "会话的唯一标识符"
                                    }
                                },
                                "required": [
                                    "text",
                                    "session_id"
                                ]
                            },
                            "example": "{\r\n    \"text\": \"我想知道现在知识库有哪些用户\", // 输入的文本\r\n    \"session_id\": \"8052ec08-c034-4816-8dd8-10ddb999c90c\"\r\n}"
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "表示流程执行过程的信息。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "description": "响应状态码：600结束的信号，601表示流程执行过程的信息，602流式对话内容输出的正文内容，603图表数据和生成的图表图片数据。"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "响应状态"
                                        },
                                        "data": {
                                            "type": "string",
                                            "description": "响应数据"
                                        }
                                    },
                                    "required": [
                                        "code",
                                        "message",
                                        "data"
                                    ]
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "code": 601,
                                            "message": "success",
                                            "data": "I'm generating a chart for you..."
                                        }
                                    },
                                    "2": {
                                        "summary": "成功示例",
                                        "value": {
                                            "code": 602,
                                            "message": "success",
                                            "data": "根据当前检索到的数据，知识库中当前活跃用户的信息如下：\n\n- **用户ID**：Rg91sWb5\n- **邮箱**：123@qq.com\n- **用户名**：zhou\n\n### 数据分析\n- **图表类型**：饼图\n- **图表名称**：用户分布（User Distribution）\n- **X轴**：用户\n- **Y轴**：数量\n- 数据集显示当前活跃用户的数量为1。\n\n### 见解\n当前的知识库用户数据仅显示了一名活跃用户。如果需要更多用户信息或更详细的分析，建议检查数据源的完整性和检索条件的准确性。"
                                        }
                                    },
                                    "3": {
                                        "summary": "成功示例",
                                        "value": {
                                            "code": 603,
                                            "message": "success",
                                            "data": {
                                                "chart_data": {
                                                    "type": "bar",
                                                    "chart_name": "用户列表",
                                                    "x_axis_name": "用户ID",
                                                    "y_axis_name": "用户数量",
                                                    "labels": [
                                                        "Rg91sWb5"
                                                    ],
                                                    "datasets": [
                                                        {
                                                            "label": "用户数量",
                                                            "data": [
                                                                1
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "chart_image": "https://hyletic-runtime.s3.amazonaws.com/assets-create/2024/10/22/ee3efa4e-986.png"
                                            }
                                        }
                                    },
                                    "4": {
                                        "summary": "成功示例",
                                        "value": {
                                            "code": 600,
                                            "message": "success",
                                            "data": "{}"
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/api/v1/chat": {
            "post": {
                "summary": "聊天",
                "deprecated": false,
                "description": "与系统进行聊天，并获取相关数据分析结果。",
                "tags": [],
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "密钥",
                        "required": true,
                        "example": "sk-LelkzwwFuKJuGJijZnduQzCorcecOvoHX4MGP-GxpObhw0c7mLc_p8m9hw118L8qIjlbE2ePcbs5hndxIVCkFw",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "text": {
                                        "type": "string",
                                        "description": "聊天内容"
                                    },
                                    "session_id": {
                                        "type": "string",
                                        "description": "会话的唯一标识符"
                                    }
                                },
                                "required": [
                                    "text",
                                    "session_id"
                                ]
                            },
                            "example": {
                                "text": "我想知道现在知识库有哪些用户",
                                "session_id": "5d25fcde-eb4f-4af1-a2ad-c7a1aa68c20b"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "description": "响应状态码"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "响应信息"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "chart_data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "type": {
                                                            "type": "string"
                                                        },
                                                        "chart_name": {
                                                            "type": "string"
                                                        },
                                                        "x_axis_name": {
                                                            "type": "string"
                                                        },
                                                        "y_axis_name": {
                                                            "type": "string"
                                                        },
                                                        "labels": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "datasets": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "label": {
                                                                        "type": "string"
                                                                    },
                                                                    "data": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "integer"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "data": {
                                                            "type": "object",
                                                            "properties": {
                                                                "labels": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "datasets": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "label": {
                                                                                "type": "string"
                                                                            },
                                                                            "data": {
                                                                                "type": "array",
                                                                                "items": {
                                                                                    "type": "integer"
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "required": [
                                                                "labels",
                                                                "datasets"
                                                            ]
                                                        },
                                                        "options": {
                                                            "type": "object",
                                                            "properties": {
                                                                "responsive": {
                                                                    "type": "boolean"
                                                                },
                                                                "plugins": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "legend": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "position": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "position"
                                                                            ]
                                                                        },
                                                                        "title": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "display": {
                                                                                    "type": "boolean"
                                                                                },
                                                                                "text": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "display",
                                                                                "text"
                                                                            ]
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "legend",
                                                                        "title"
                                                                    ]
                                                                },
                                                                "scales": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "x": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "display": {
                                                                                    "type": "boolean"
                                                                                },
                                                                                "title": {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "display": {
                                                                                            "type": "boolean"
                                                                                        },
                                                                                        "text": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "display",
                                                                                        "text"
                                                                                    ]
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "display",
                                                                                "title"
                                                                            ]
                                                                        },
                                                                        "y": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "display": {
                                                                                    "type": "boolean"
                                                                                },
                                                                                "title": {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "display": {
                                                                                            "type": "boolean"
                                                                                        },
                                                                                        "text": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "display",
                                                                                        "text"
                                                                                    ]
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "display",
                                                                                "title"
                                                                            ]
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "x",
                                                                        "y"
                                                                    ]
                                                                }
                                                            },
                                                            "required": [
                                                                "responsive",
                                                                "plugins",
                                                                "scales"
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "type",
                                                        "chart_name",
                                                        "x_axis_name",
                                                        "y_axis_name",
                                                        "labels",
                                                        "datasets",
                                                        "data",
                                                        "options"
                                                    ],
                                                    "description": "图表数据"
                                                },
                                                "chart_image": {
                                                    "type": "string",
                                                    "description": "图表图片url"
                                                },
                                                "text": {
                                                    "type": "string",
                                                    "description": "回复的文本数据"
                                                }
                                            },
                                            "required": [
                                                "chart_data",
                                                "chart_image",
                                                "text"
                                            ],
                                            "description": "响应数据，包括图表和文本"
                                        }
                                    },
                                    "required": [
                                        "code",
                                        "message",
                                        "data"
                                    ]
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "code": 600,
                                            "message": "success",
                                            "data": {
                                                "chart_data": {
                                                    "type": "bar",
                                                    "data": {
                                                        "labels": [
                                                            "Rg91sWb5"
                                                        ],
                                                        "datasets": [
                                                            {
                                                                "label": "Users",
                                                                "data": [
                                                                    1
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "options": {
                                                        "responsive": true,
                                                        "plugins": {
                                                            "legend": {
                                                                "position": "top"
                                                            },
                                                            "title": {
                                                                "display": true,
                                                                "text": "Active Users"
                                                            }
                                                        },
                                                        "scales": {
                                                            "x": {
                                                                "display": true,
                                                                "title": {
                                                                    "display": true,
                                                                    "text": "User ID"
                                                                }
                                                            },
                                                            "y": {
                                                                "display": true,
                                                                "title": {
                                                                    "display": true,
                                                                    "text": "Count"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "text": "根据当前检索到的数据，知识库中当前活跃用户的信息如下：\n\n- **用户ID**：Rg91sWb5\n- **邮箱**：123@qq.com\n- **用户名**：zhou\n\n### 数据分析\n- 图表类型：条形图\n- 图表名称：活跃用户（Active Users）\n- X轴：用户ID\n- Y轴：用户数量\n- 数据集显示当前活跃用户的数量为1。\n\n### 见解\n当前的知识库用户数据有限，仅显示了一名活跃用户。如果需要进一步分析或扩展更多用户信息，建议检查数据源是否完整并确认检索条件是否准确。"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/api/v1/conversation": {
            "post": {
                "summary": "创建对话信息",
                "deprecated": false,
                "description": "创建新的对话信息。",
                "tags": [],
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "密钥",
                        "required": true,
                        "example": "sk-LelkzwwFuKJuGJijZnduQzCorcecOvoHX4MGP-GxpObhw0c7mLc_p8m9hw118L8qIjlbE2ePcbs5hndxIVCkFw",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "database_id": {
                                        "type": "string",
                                        "description": "数据库的唯一标识符"
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "会话名称"
                                    }
                                },
                                "required": [
                                    "database_id"
                                ]
                            },
                            "example": {
                                "database_id": "xK5gnMSRxHLA",
                                "name": "hello"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "description": "响应状态码"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "响应信息"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "description": "会话的唯一标识符"
                                                }
                                            },
                                            "required": [
                                                "id"
                                            ],
                                            "description": "响应数据"
                                        }
                                    },
                                    "required": [
                                        "code",
                                        "message",
                                        "data"
                                    ]
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "code": 600,
                                            "message": "success",
                                            "data": {
                                                "id": "8052ec08-c034-4816-8dd8-10ddb999c90c"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/api/v1/conversation/{conversation_id}": {
            "get": {
                "summary": "获取对话信息",
                "deprecated": false,
                "description": "通过 ID 获取对话信息。",
                "tags": [],
                "parameters": [
                    {
                        "name": "conversation_id",
                        "in": "path",
                        "description": "会话的唯一标识符",
                        "required": true,
                        "example": "8052ec08-c034-4816-8dd8-10ddb999c90c",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "密钥",
                        "required": true,
                        "example": "sk-LelkzwwFuKJuGJijZnduQzCorcecOvoHX4MGP-GxpObhw0c7mLc_p8m9hw118L8qIjlbE2ePcbs5hndxIVCkFw",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "description": "状态码"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "响应信息"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "description": "会话的唯一标识符"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "description": "会话名称"
                                                },
                                                "database_id": {
                                                    "type": "string",
                                                    "description": "数据库的唯一标识符"
                                                },
                                                "user_id": {
                                                    "type": "string",
                                                    "description": "用户的唯一标识符"
                                                },
                                                "created_at": {
                                                    "type": "number",
                                                    "description": "创建时间"
                                                },
                                                "updated_at": {
                                                    "type": "number",
                                                    "description": "更新时间"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "name",
                                                "database_id",
                                                "user_id",
                                                "created_at",
                                                "updated_at"
                                            ],
                                            "description": "响应数据"
                                        }
                                    },
                                    "required": [
                                        "code",
                                        "message",
                                        "data"
                                    ]
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "code": 600,
                                            "message": "success",
                                            "data": {
                                                "id": "8052ec08-c034-4816-8dd8-10ddb999c90c",
                                                "name": "hello",
                                                "database_id": "xK5gnMSRxHLA",
                                                "user_id": "2d936649-2fbd-40ff-bc91-4ee2076550ac",
                                                "created_at": 1728733882.713548,
                                                "updated_at": 1728733882.713548
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {}
                    }
                },
                "security": []
            },
            "delete": {
                "summary": "删除对话信息",
                "deprecated": false,
                "description": "删除指定 ID 的对话信息。",
                "tags": [],
                "parameters": [
                    {
                        "name": "conversation_id",
                        "in": "path",
                        "description": "会话的唯一标识符",
                        "required": true,
                        "example": "8052ec08-c034-4816-8dd8-10ddb999c90c",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "密钥",
                        "required": true,
                        "example": "sk-LelkzwwFuKJuGJijZnduQzCorcecOvoHX4MGP-GxpObhw0c7mLc_p8m9hw118L8qIjlbE2ePcbs5hndxIVCkFw",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        },
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/api/v1/conversation/list/data": {
            "get": {
                "summary": "获取用户对话列表",
                "deprecated": false,
                "description": "获取指定数据库 ID 下用户的对话列表。",
                "tags": [],
                "parameters": [
                    {
                        "name": "database_id",
                        "in": "query",
                        "description": "数据库的唯一标识符",
                        "required": false,
                        "example": "JtJHxgy0Ta7b",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "密钥",
                        "required": true,
                        "example": "sk-LelkzwwFuKJuGJijZnduQzCorcecOvoHX4MGP-GxpObhw0c7mLc_p8m9hw118L8qIjlbE2ePcbs5hndxIVCkFw",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "description": "响应状态码"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "响应信息"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "description": "会话的唯一标识符"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "description": "会话名称"
                                                    },
                                                    "database_id": {
                                                        "type": "string",
                                                        "description": "数据库的唯一标识符"
                                                    },
                                                    "user_id": {
                                                        "type": "string",
                                                        "description": "用户的唯一标识符"
                                                    },
                                                    "created_at": {
                                                        "type": "number",
                                                        "description": "创建时间"
                                                    },
                                                    "updated_at": {
                                                        "type": "number",
                                                        "description": "更新时间"
                                                    }
                                                }
                                            },
                                            "description": "响应数据"
                                        }
                                    },
                                    "required": [
                                        "code",
                                        "message",
                                        "data"
                                    ]
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "code": 600,
                                            "message": "success",
                                            "data": [
                                                {
                                                    "id": "8052ec08-c034-4816-8dd8-10ddb999c90c",
                                                    "name": "hello",
                                                    "database_id": "xK5gnMSRxHLA",
                                                    "user_id": "2d936649-2fbd-40ff-bc91-4ee2076550ac",
                                                    "created_at": 1728733882.713548,
                                                    "updated_at": 1728733882.713548
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/api/v1/databases": {
            "post": {
                "summary": "建立与数据库的连接",
                "deprecated": false,
                "description": "与现有的数据库的建立连接。",
                "tags": [],
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "密钥",
                        "required": true,
                        "example": "sk-LelkzwwFuKJuGJijZnduQzCorcecOvoHX4MGP-GxpObhw0c7mLc_p8m9hw118L8qIjlbE2ePcbs5hndxIVCkFw",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "数据库名称"
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": "数据库描述"
                                    },
                                    "prompt": {
                                        "type": "string",
                                        "description": "AI人设，针对数据库业务，给AI合适的身份，让回复更专业。\n\n**数据分析师:**  \n    示例: “你是一位经验丰富的数据分析师，专注于数据挖掘和趋势分析。请提供关于如何优化数据库查询性能的建议。”  \n\n**数据库管理员:**  \n    示例: “你是一位专业的数据库管理员，负责维护和优化大型数据库系统。请解释如何进行数据备份和恢复。”"
                                    },
                                    "database_name": {
                                        "type": "string",
                                        "description": "连接数据库名"
                                    },
                                    "database_type": {
                                        "type": "string",
                                        "description": "数据库类型，可选值 [mysql | postgresql]"
                                    },
                                    "hostname": {
                                        "type": "string",
                                        "description": "数据库主机名或 IP 地址"
                                    },
                                    "port": {
                                        "type": "integer",
                                        "description": "数据库端口号"
                                    },
                                    "username": {
                                        "type": "string",
                                        "description": "连接数据库的用户名"
                                    },
                                    "password": {
                                        "type": "string",
                                        "description": "数据库密码"
                                    }
                                },
                                "required": [
                                    "database_name",
                                    "database_type",
                                    "hostname",
                                    "port",
                                    "username",
                                    "password"
                                ]
                            },
                            "example": {
                                "name": "hello",
                                "description": "this is a knowledge base",
                                "prompt": "",
                                "database_name": "library",
                                "database_type": "postgresql",
                                "hostname": "localhost",
                                "port": 5432,
                                "username": "postgres",
                                "password": "baiyiyu"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "description": "响应状态码"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "响应信息"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "description": "数据库的唯一标识符"
                                                }
                                            },
                                            "required": [
                                                "id"
                                            ],
                                            "description": "响应数据"
                                        }
                                    },
                                    "required": [
                                        "code",
                                        "message",
                                        "data"
                                    ]
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "code": 600,
                                            "message": "success",
                                            "data": {
                                                "id": "xK5gnMSRxHLA"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/api/v1/databases/{database_id}": {
            "get": {
                "summary": "获取数据库信息",
                "deprecated": false,
                "description": "通过数据库 ID 获取数据库信息。",
                "tags": [],
                "parameters": [
                    {
                        "name": "database_id",
                        "in": "path",
                        "description": "数据库的唯一标识符",
                        "required": true,
                        "example": "xK5gnMSRxHLA",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "密钥",
                        "required": false,
                        "example": "sk-LelkzwwFuKJuGJijZnduQzCorcecOvoHX4MGP-GxpObhw0c7mLc_p8m9hw118L8qIjlbE2ePcbs5hndxIVCkFw",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "description": "响应状态码"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "响应信息"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "description": "数据库的唯一标识符"
                                                },
                                                "user_id": {
                                                    "type": "string",
                                                    "description": "关联的用户的唯一标识符"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "description": "数据库名字"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "description": "数据库描述"
                                                },
                                                "prompt": {
                                                    "type": "string",
                                                    "description": "AI人设，针对数据库业务，给AI合适的身份，让回复更专业。"
                                                },
                                                "database_name": {
                                                    "type": "string",
                                                    "description": "连接数据库名"
                                                },
                                                "database_type": {
                                                    "type": "string",
                                                    "description": "数据库类型"
                                                },
                                                "hostname": {
                                                    "type": "string",
                                                    "description": "数据库主机名或 IP 地址"
                                                },
                                                "port": {
                                                    "type": "integer",
                                                    "description": "数据库端口号"
                                                },
                                                "username": {
                                                    "type": "string",
                                                    "description": "连接数据库的用户名"
                                                },
                                                "created_at": {
                                                    "type": "number",
                                                    "description": "创建时间"
                                                },
                                                "updated_at": {
                                                    "type": "number",
                                                    "description": "更新时间"
                                                },
                                                "status": {
                                                    "type": "boolean",
                                                    "description": "数据库连接状态"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "user_id",
                                                "name",
                                                "description",
                                                "prompt",
                                                "database_name",
                                                "database_type",
                                                "hostname",
                                                "port",
                                                "username",
                                                "created_at",
                                                "updated_at",
                                                "status"
                                            ],
                                            "description": "响应数据"
                                        }
                                    },
                                    "required": [
                                        "code",
                                        "message",
                                        "data",
                                        "01JAA0BFNP7SYMACCHK9Y9W82J"
                                    ]
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "code": 600,
                                            "message": "success",
                                            "data": {
                                                "id": "xK5gnMSRxHLA",
                                                "user_id": "2d936649-2fbd-40ff-bc91-4ee2076550ac",
                                                "name": "hello",
                                                "description": "this is a knowledge base",
                                                "prompt": "",
                                                "database_name": "library",
                                                "database_type": "postgresql",
                                                "hostname": "localhost",
                                                "port": 5432,
                                                "username": "postgres",
                                                "created_at": 1728732298.829782,
                                                "updated_at": 1728732298.829782,
                                                "status": true
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {}
                    }
                },
                "security": []
            },
            "put": {
                "summary": "更新连接信息",
                "deprecated": false,
                "description": "更新指定数据库的链接信息。",
                "tags": [],
                "parameters": [
                    {
                        "name": "database_id",
                        "in": "path",
                        "description": "数据库的唯一标识符",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "密钥",
                        "required": true,
                        "example": "sk-LelkzwwFuKJuGJijZnduQzCorcecOvoHX4MGP-GxpObhw0c7mLc_p8m9hw118L8qIjlbE2ePcbs5hndxIVCkFw",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "数据库名字"
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": "数据库描述"
                                    },
                                    "prompt": {
                                        "type": "string",
                                        "description": "AI人设，针对数据库业务，给AI合适的身份，让回复更专业。"
                                    },
                                    "database_name": {
                                        "type": "string",
                                        "description": "连接数据库名"
                                    },
                                    "database_type": {
                                        "type": "string",
                                        "description": "数据库类型，可选值 [mysql | postgresql]"
                                    },
                                    "hostname": {
                                        "type": "string",
                                        "description": "数据库主机名或 IP 地址"
                                    },
                                    "port": {
                                        "type": "integer",
                                        "description": "数据库端口号"
                                    },
                                    "username": {
                                        "type": "string",
                                        "description": "连接数据库的用户名"
                                    },
                                    "password": {
                                        "type": "string",
                                        "description": "数据库密码"
                                    }
                                }
                            },
                            "example": {
                                "name": "hello",
                                "description": "this is a knowledge base",
                                "prompt": "you are a useful assistant.",
                                "database_name": "library",
                                "database_type": "postgresql",
                                "hostname": "localhost",
                                "port": 5432,
                                "username": "postgres",
                                "password": "baiyiyu"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        },
                        "headers": {}
                    }
                },
                "security": []
            },
            "delete": {
                "summary": "断开与数据库的连接",
                "deprecated": false,
                "description": "断开指定的数据库连接。",
                "tags": [],
                "parameters": [
                    {
                        "name": "database_id",
                        "in": "path",
                        "description": "数据库的唯一标识符",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "密钥",
                        "required": false,
                        "example": "sk-LelkzwwFuKJuGJijZnduQzCorcecOvoHX4MGP-GxpObhw0c7mLc_p8m9hw118L8qIjlbE2ePcbs5hndxIVCkFw",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        },
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/api/v1/databases/list/data": {
            "get": {
                "summary": "获取数据库列表",
                "deprecated": false,
                "description": "获取用户的所有数据库信息列表。",
                "tags": [],
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "密钥",
                        "required": true,
                        "example": "sk-LelkzwwFuKJuGJijZnduQzCorcecOvoHX4MGP-GxpObhw0c7mLc_p8m9hw118L8qIjlbE2ePcbs5hndxIVCkFw",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "description": "响应状态码"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "响应信息"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "description": "数据库的唯一标识符"
                                                    },
                                                    "user_id": {
                                                        "type": "string",
                                                        "description": "关联的用户的唯一标识符"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "description": "数据库名字"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "description": "数据库描述"
                                                    },
                                                    "prompt": {
                                                        "type": "string",
                                                        "description": "AI人设，针对数据库业务，给AI合适的身份，让回复更专业。"
                                                    },
                                                    "database_name": {
                                                        "type": "string",
                                                        "description": "连接数据库名"
                                                    },
                                                    "database_type": {
                                                        "type": "string",
                                                        "description": "数据库类型"
                                                    },
                                                    "hostname": {
                                                        "type": "string",
                                                        "description": "数据库主机名或 IP 地址"
                                                    },
                                                    "port": {
                                                        "type": "integer",
                                                        "description": "数据库端口号"
                                                    },
                                                    "username": {
                                                        "type": "string",
                                                        "description": "连接数据库的用户名"
                                                    },
                                                    "created_at": {
                                                        "type": "number",
                                                        "description": "创建时间"
                                                    },
                                                    "updated_at": {
                                                        "type": "number",
                                                        "description": "更新时间"
                                                    },
                                                    "status": {
                                                        "type": "boolean",
                                                        "description": "数据库连接状态"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "user_id",
                                                    "name",
                                                    "description",
                                                    "prompt",
                                                    "database_name",
                                                    "database_type",
                                                    "hostname",
                                                    "port",
                                                    "username",
                                                    "created_at",
                                                    "updated_at",
                                                    "status"
                                                ]
                                            },
                                            "description": "响应数据"
                                        }
                                    },
                                    "required": [
                                        "code",
                                        "message",
                                        "data"
                                    ]
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "code": 600,
                                            "message": "success",
                                            "data": [
                                                {
                                                    "id": "zyfyFJsiwudt",
                                                    "user_id": "2d936649-2fbd-40ff-bc91-4ee2076550ac",
                                                    "name": "hello",
                                                    "description": "this is a knowledge base",
                                                    "prompt": "",
                                                    "database_name": "library",
                                                    "database_type": "postgresql",
                                                    "hostname": "localhost",
                                                    "port": 5432,
                                                    "username": "postgres",
                                                    "created_at": 1728524158.594638,
                                                    "updated_at": 1728524158.594638,
                                                    "status": true
                                                },
                                                {
                                                    "id": "xK5gnMSRxHLA",
                                                    "user_id": "2d936649-2fbd-40ff-bc91-4ee2076550ac",
                                                    "name": "hello",
                                                    "description": "this is a knowledge base",
                                                    "prompt": "",
                                                    "database_name": "library",
                                                    "database_type": "postgresql",
                                                    "hostname": "localhost",
                                                    "port": 5432,
                                                    "username": "postgres",
                                                    "created_at": 1728732298.829782,
                                                    "updated_at": 1728732298.829782,
                                                    "status": true
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/api/v1/databases/{database_id}/connection_status": {
            "get": {
                "summary": "测试数据库连接状态接口",
                "deprecated": false,
                "description": "测试指定数据库的连接状态。",
                "tags": [],
                "parameters": [
                    {
                        "name": "database_id",
                        "in": "path",
                        "description": "数据库的唯一标识符",
                        "required": true,
                        "example": "OjBgxScYnLnO",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "密钥",
                        "required": true,
                        "example": "sk-LelkzwwFuKJuGJijZnduQzCorcecOvoHX4MGP-GxpOYDXQmMRgRMjQzV0PMahsfzIkq7VyXzqLhrx4YF8Fyp5w",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "description": "响应状态码"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "响应信息"
                                        },
                                        "data": {
                                            "type": "boolean",
                                            "description": "数据库连接状态"
                                        }
                                    },
                                    "required": [
                                        "code",
                                        "message",
                                        "data"
                                    ]
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "code": 600,
                                            "message": "Connection successful",
                                            "data": true
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {}
                    }
                },
                "security": []
            }
        }
    },
    "components": {
        "schemas": {
            "Plant": {
                "required": [
                    "name"
                ],
                "type": "object",
                "properties": {
                    "name": {
                        "description": "The name of the plant",
                        "type": "string"
                    },
                    "tag": {
                        "description": "Tag to specify the type",
                        "type": "string"
                    }
                }
            },
            "NewPlant": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Plant"
                    },
                    {
                        "required": [
                            "id"
                        ],
                        "type": "object",
                        "properties": {
                            "id": {
                                "description": "Identification number of the plant",
                                "type": "integer",
                                "format": "int64"
                            }
                        }
                    }
                ]
            },
            "Error": {
                "required": [
                    "error",
                    "message"
                ],
                "type": "object",
                "properties": {
                    "error": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer"
            }
        }
    }
}